<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Something wrong</title>
</head>
<body>
  <h1>Something wrong</h1>
  <% if (messages && messages.statusCode) { %>
    <h2><%= messages.statusCode %></h2>
  <% } %>

  <% if (messages && messages.statusCodeDetails) { %>
    <p><%= messages.statusCodeDetails %></p>
  <% } %>
    
    <% if (messages && messages.error && messages.error.length > 0) { %>
      <div style="color: red;">
        <% messages.error.forEach(error => { %>
            <p><%= error %></p>
        <% }); %>
      </div>
    <% } %>
    
    <% if (messages && messages.warning && messages.warning.length > 0) { %>
      <div style="color: rgba(255, 153, 0, 0.805);">
        <% messages.warning.forEach(warning => { %>
          <p><%= warning %></p>
        <% }); %>
      </div>
    <% } %>

<a href="<%= redirectURL %>"><button>OK</button></a>

</body>
</html>