<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/header'); %>
  <title>Delivery List</title>
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>

  <%- include('./partials/flashMessage'); %>

  <div class="container mt-5">
    <h1 class="mb-4">Delivery List</h1>

    <!-- Search form -->

    <!-- News feed grid -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% thisUserValidDeliveryList.forEach((delivery, index) => { %>
            <div class="col">
              <a href="/runner/deliveryList/deliveryDetails/<%= delivery._id %>" class="text-decoration-none text-muted">
                <div class="card border-2">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Delivery List <%= (page - 1) * perPage + index + 1 %></strong></h5>
                      <hr>
                      <p class="card-text"><strong>Order ID: </strong><br><%= delivery.logisticsOrder_id._id %></p>
                      <p class="card-text"><strong>Created By User: </strong><br><%= delivery.logisticsOrder_id.createdByUser.username %></p>
                      <p class="card-text"><strong>Status: </strong><br><%= delivery.logisticsOrder_id.status %>(Your)</p>
                      <p class="card-text"><strong>Description: </strong><br><%= delivery.logisticsOrder_id.description %></p>
                      <p class="card-text"><strong>Customer Type: </strong><br><%= delivery.logisticsOrder_id.customerType %></p>
                      <p class="card-text"><strong>Customer Name: </strong><br><%= delivery.logisticsOrder_id.customerName %></p>
                      <p class="card-text"><strong>Customer Contact: </strong><br><%= delivery.logisticsOrder_id.customerContact %></p>
                      <p class="card-text">
                        <strong>Address:</strong><br>
                        <%= delivery.logisticsOrder_id.address.address1 %><br>
                        <%= delivery.logisticsOrder_id.address.address2 %><br>
                        <%= delivery.logisticsOrder_id.address.city %><br>
                        <%= delivery.logisticsOrder_id.address.postalCode %><br>
                        <%= delivery.logisticsOrder_id.address.country %>
                      </p>
                      <p class="card-text"><strong>Product Quantity: </strong><br><%= delivery.logisticsOrder_id.productQty %></p>
                      <p class="card-text"><strong>Payment Status: </strong><br><%= delivery.logisticsOrder_id.paymentStatus %></p>
                      <p class="card-text"><strong>Payment Type: </strong><br><%= delivery.logisticsOrder_id.paymentType %></p>
                      <p class="card-text"><strong>Payment Amount: </strong><br><%= delivery.logisticsOrder_id.paymentAmount %></p>
                      <p class="card-text"><strong>Delivery Type: </strong><br><%= delivery.logisticsOrder_id.deliveryType %></p>
                      <p class="card-text"><strong>Remark: </strong><br><%= delivery.logisticsOrder_id.remark %></p>
                      
                      <hr>
                        <div class="btn btn-secondary d-flex justify-content-center text-center">
                            Details
                        </div>
                    </div>
                </div>
              </a>
            </div>
        <% }); %>
      </div>

      <div class="container">
        <!-- Pagination links -->
        <div class="d-flex justify-content-between mt-3">
          <% if (pagination.prev) { %>
            <a href="<%= pagination.prev %>" class="btn btn-primary">Previous</a>
          <% } %>
  
          <span>Page <%= pagination.current %> of <%= pagination.totalPages %></span>
  
          <% if (pagination.next) { %>
            <a href="<%= pagination.next %>" class="btn btn-primary">Next</a>
          <% } %>
        </div>
      </div>

    <% if (thisUserValidDeliveryList.length >= 1) { %>
      <div class="row p-5 sticky-bottom">
          
          <form class="col-12 mb-2" method="post" action="/runner/deliveryList/deliveryDetails/startDeliver"
          onsubmit="return confirm('Start the deliver mode?');">
            <a class="w-100">
            <button class="btn btn-primary btn-lg w-100" type="submit">Start deliver</button>
            </a>
        </form>
  
      </div>
    <% } %>
  </div>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>
</html>
