<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/header'); %>
  <title>Logistics Orders Feed</title>
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>

  <%- include('./partials/flashMessage'); %>

  <div class="container mt-5">
    <h1 class="mb-4">Logistics Orders Details</h1>

    <div class="card">
        <div class="card-header">
            <p class="card-text m-2 h4">Created by <strong><%= logisticsOrder.createdByUser.username %></strong></p>
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text"><strong>Description: </strong><br><%= logisticsOrder.description %></p>
            <p class="card-text"><strong>Customer Type: </strong><br><%= logisticsOrder.customerType %></p>
            <p class="card-text"><strong>Customer Name: </strong><br><%= logisticsOrder.customerName %></p>
            <p class="card-text"><strong>Customer Contact: </strong><br><%= logisticsOrder.customerContact %></p>
            <p class="card-text">
                <strong>Address:</strong><br>
                <%= logisticsOrder.address.address1 %><br>
                <%= logisticsOrder.address.address2 %><br>
                <%= logisticsOrder.address.city %><br>
                <%= logisticsOrder.address.postalCode %><br>
                <%= logisticsOrder.address.country %>
            </p>
            <p class="card-text"><strong>Payment Status: </strong><br><%= logisticsOrder.paymentStatus %></p>
            <p class="card-text"><strong>Payment Type: </strong><br><%= logisticsOrder.paymentType %></p>
            <p class="card-text"><strong>Payment Amount: </strong><br><%= logisticsOrder.paymentAmount %></p>
            <p class="card-text"><strong>Delivery Type: </strong><br><%= logisticsOrder.deliveryType %></p>
            <p class="card-text"><strong>Remark: </strong><br><%= logisticsOrder.remark %></p>
    
            <hr>
            <div class="row">
              <form action="/customerService/logisticsOrderFeed/logisticsOrderDetails/addToDeliveryList/<%= logisticsOrder._id %>" method="post" class="col-md-6 mb-2">
                  <a href="#" class="btn btn-success w-100">
                      <button class="btn btn-success w-100" type="submit">Add to Delivery list</button>
                  </a>
              </form>
      
              <div class="col-md-6 mb-2">
                  <a href="/customerService/logisticsOrderFeed" class="btn btn-secondary w-100">
                      <button class="btn btn-secondary w-100">Back</button>
                  </a>
              </div>
          </div>
            
        </div>
    </div>
    

  </div>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>
</html>
