<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/header'); %>
  <title>Profile</title>
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>

  <%- include('./partials/flashMessage'); %>

  <div class="container mt-5">

    <div class="border rounded p-5">

        <h1 class="mb-4">Profile</h1>

        <form method="post" action="/customerService/profile/updateProfile">

          <div class="mb-3">
            <label for="_id" class="form-label">User ID(Can't edit):</label>
            <input class="form-control" id="_id" name="_id" value="<%= user._id %>" disabled>
          </div>

            <div class="mb-3">
              <label for="username" class="form-label">Username(Can't edit):</label>
              <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" disabled>
            </div>
        
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" class="form-control" id="password" name="password" value="<%= user.password %>" placeholder="Leave it blank and save will remain the same.">
            </div>
        
            <div class="mb-3">
              <label for="phone" class="form-label">Phone:</label>
              <input type="number" class="form-control" id="phone" name="phone" placeholder="<%= user.phone %>">
            </div>
        
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="<%= user.email %>">
            </div>
        
            <div class="mb-3">
              <label for="role" class="form-label">Role(Can't edit):</label>
              <input class="form-control" id="role" name="role" value="<%= user.role %>" disabled>
            </div>

            <div class="mb-3">
              <label for="country" class="form-label">Country(Can't edit):</label>
              <input class="form-control" id="country" name="country" value="<%= user.country %>" disabled>
            </div>
        
            <!-- <div class="row pt-4"> -->
              <div class="mt-3">
                <button type="submit" class="btn btn-primary w-100">Save Changes</button>
              </div>

              <div class="mt-3">
                <a href="/customerService/dashboard" class="btn btn-secondary w-100">Back</a>
              </div>
            <!-- </div> -->

          </form>

          <!-- <a href="/customerService/dashboard">
            <button class="btn btn-secondary mt-3">Back</button>
          </a> -->
          
    </div>
    
  </div>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>